<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update user</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .table {
            table-layout: fixed;
        }
        td {
            word-wrap:break-word;
        }
        .container-my {
            max-width: 95%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding-right: 15px;
            padding-left: 15px;
        }
        blockquote {
            background: url(https://www.axa.de/site/axa-de/get/params_E-35817624/8222246/geparkte-autos-in-reihe.jpg.pagespeed.ce.7CTHh14teL.jpg); /* Фоновый цвет и фоновый рисунок*/
            background-repeat: no-repeat;
            background-size: 100%;
            color: white;
        }
    </style>
    <script type="text/javascript">
        function validate(id) {
            var result = true;
            var value = $(id);
            if (value.val() === '' || value.val() ==="other...") {
                alert('Field "' + value.attr('name').concat('" mustn\'t be empty.'));
                result = false;
            }
            return result;
        }
        function validatePair(id1, id2) {
            var result = true;
            var value1 = $(id1);
            var value2 = $(id2);
            if (value1.val() === '' || (value1.val() ==="other..." && value2.val() === '' )) {
                alert('Field "' + value1.attr('name').concat('" mustn\'t be empty.'));
                result = false;
            }
            if ((value1.attr('name')==="year") && (value2.val()) && (!Date.parse(value2.val())))  {
                alert('Field "' + value1.attr('name').concat('" must be in the year format. For example: 2007'));
                result = false;
            }
            return result;
        }
        function checkAuthentication() {
            return validate($('#myLogin'))
                && validate($('#myPassword'));
        }
        function checkNewUser() {
            return validate($('#login'))
                && validate($('#password'))
                && validate($('#phone'));
        }
        function checkUser() {
            return validate($('#password'))
                && validate($('#phone'));
        }
        function checkAd() {
            var result = validate($('#model'))
                && validatePair($('#year'), $('#yearAddit'))
                && validatePair($('#body'), $('#bodyAddit'))
                && validatePair($('#color'), $('#colorAddit'))
                && validatePair($('#engine'), $('#engineAddit'))
                && validate($('#description'));
            if(result) {
                alert("Successfully!")
            }
            return result;
        }
        function showAdditionalField(select) {
            var value = $(select).val();
            var id = $(select).attr('id');
            if(value === "other...") {
                if(document.getElementById(id + "Addit") == null) {
                    (document.getElementById(id + "Field")).innerHTML =
                        "<input class=\"form-control\" type='text' placeholder='input your value' name='" +
                        id + "Addit' id='" + id + "Addit'>";
                }
            } else {
                if(document.getElementById(id + "Addit") != null) {
                    document.getElementById(id + "Addit").remove();
                }
            }
        }
        function setValueYesNo(checkbox, param) {
            if ($(checkbox).is(':checked')) {
                $(param).val("yes");
            } else {
                $(param).val("");
            }
        }
        function clearFilters() {
            document.getElementById('checkboxActual').checked = false;
            document.getElementById('checkboxCurrentDay').checked = false;
            document.getElementById('checkboxWithPhoto').checked = false;
            document.getElementById('byName').value = '';

            setValueYesNo($('#checkboxActual'), $('#actual'));
            setValueYesNo($('#checkboxCurrentDay'), $('#currentDay'));
            setValueYesNo($('#checkboxWithPhoto'), $('#withPhoto'));
        }
    </script>
</head>
<body>
<div th:if="${activeUser.role=='admin'|| (activeUser.role=='user'&& activeUser.id==user.id)}">
    <blockquote>
        <h6 align="right">
            <form>
                <h5><span class="glyphicon glyphicon-user"></span>&ensp;
                    <strong><td th:text="${activeUser.login}"/>, you are on the page of user profile updating</strong>
                </h5>
            </form>
            <form th:action="@{/ads/show}" method="get">
                <button type="submit" class="btn-info">
                    <span class="glyphicon glyphicon-list"></span> Show all ads
                </button>
            </form><br/>
            <form th:action="@{/ads/userAds}" method="get">
                <input type='hidden' name='id' th:value='${activeUser.id}'/>
                <button type="submit" class="btn-info">
                    <span class="glyphicon glyphicon-list"></span> Show my ads
                </button>
            </form><br/>
            <div th:if="${activeUser.role=='user'}">
                <div class="form-group">
                    <form th:action="@{/users/delete}" method="post">
                        <input type='hidden' name='action' value='deleteFromProfile'>
                        <input type='hidden' name='id' th:value='${user.id}'/>
                        <button type="submit" class="btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Delete my profile and all my ads
                        </button>
                    </form>
                </div>
            </div>
            <form th:action="@{/logout}" method="post">
                <!--<input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>-->
                <button type="submit" class="btn-danger">
                    <span class="glyphicon glyphicon-log-out"></span> Exit
                </button>
            </form><br/>
        </h6>
    </blockquote>
    <div class="container">
        <form th:action="@{/users/update}" method="post" class="form-horizontal">
            <input type='hidden' name='id' th:value='${user.id}'/>
            <input type='hidden' name='login' th:value='${user.login}'/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-4">
                    <input class="form-control" type='password' placeholder='input password' name='password' id='password'
                           th:value="${user.password}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone:</label>
                <div class="col-sm-4">
                    <input class="form-control" type='text' placeholder='input phone' name='phone' id='phone'
                           th:value="${user.phone}">
                </div>
            </div>
            <div th:if="${activeUser.role=='admin'}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Role:</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="role">
                            <option th:each="role : ${roles}" th:value="${role.toLowerCase()}" th:text="${role}"
                                    th:selected="${user.role == role.toLowerCase()}"/>
                        </select>
                    </div>
                </div>
            </div>
            <div th:if="${activeUser.role=='user'}">
                <input type='hidden' name='role' th:value='${user.role}'/>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    <button onclick='return checkUser();' type="submit" class="btn-primary">
                        <span class="glyphicon glyphicon-check"></span>  Update
                    </button><br/>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:if="${activeUser.role=='guest'}">
    <div class="jumbotron text-center">
        <h2><strong>The guest can not update profile! Please, sign in or sing up.</strong></h2><br/>
        <blockquote>
            <h5>
                <br/><br/><br/><br/><br/>
                <form th:action="@{/logout}" method="post">
                    <!--<input type="hidden"
                           name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>-->
                    <button type="submit" class="btn-info">
                        <span class="glyphicon glyphicon-log-in"></span> Sign in / Sign up
                    </button>
                </form>
                <br/><br/><br/>><br/>
            </h5>
        </blockquote>
    </div>
</div>
</body>
</html>
